// src/app/comp-a/comp-a.theme.scss
@import '~@angular/material/theming';
@import "./styles/variables.module.scss";
@mixin customOutlineInputcreate($theme) {
    // define mixin
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent); // retrieve color def
    //OutlinedInput
    mat-form-field {
        font-Size: '14px';
        font-weight: '400';
        border-Color: $input-border-color !important;
        background-Color: 'white !important';
        .mat-form-field-infix {
            padding: 0.5em 0 0.6em 0 !important;
            margin-top: -0.0625em !important;
            margin-bottom: 0.5rem !important;
        }
        &:hover .MuiOutlinedInput-notchedOutline {
            border-Color: $input-border-color;
        }
        &.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-width: '1px';
            border-color: mat-color($primary, 500) !important;
        }
        &.Mui-focused .MuiInputAdornment-root {
            color: mat-color($primary, 500),
        }
        input {
            position: 'relative';
            order: '1';
            height: '40px';
            width: calc(100% - 26px);
            box-Sizing: 'border-box';
            padding-Top: '0';
            padding-Bottom: '0';
            color: $dark-color-500!important;
            & :-internal-autofill-selected {
                color: $input-text-color !important;
            }
        }
        inputAdornedStart {
            padding-Left: '8px';
        }
        MuiInputAdornment {
            position: 'relative';
            left: '10px';
            color: darkColor300;
        }
        MuiInputLabel {
            outlined {
                transform: 'translate(40px, 12px) scale(1)';
                color: $dark-color-300;
                & .MuiInputLabel-shrink {
                    transform: 'translate(14px, -6px) scale(0.85)' !important;
                }
                & input[for="combo-box-demo"] {
                    transform: 'translate(12px, 12px) scale(1)';
                }
            }
            &.Mui-focused {
                color: $dark-color-300;
            }
        }
        MuiFormControlLabel {
            label: {
                fontSize: '14px',
            }
        }
    }
}