.box-devider-hr {
    height: 208px;
    top: 16px;
    position: relative;
    z-index: -999;
}

.box-devider-vr {
    width: 90%;
    margin: 0 5%;
    z-index: -999;
}

.center {
    width: 100%;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin-right: 16px;
    padding-top: 10px;
    margin-bottom: 0px;
}

table {
    width: 100%;
}

.mat-grid-list {
    padding-bottom: 50px !important;
    padding-top: 3%;
}

.DealoverView {
    width: 86%;
    margin: 0 6%;
    float: left;
}

.card-drp.mat-select {
    visibility: hidden;
}

// .card-drp .mat-select-placeholder {
//     visibility: hidden !important;
// }
// .card-drp .mat-select-value-text {
//     visibility: hidden !important;
// }
// .card-drp .mat-select-value {
//     visibility: hidden !important;
// }
// .card-drp .mat-select-trigger {
//     //  position: absolute  !important;
//     display: block !important;
// }
// .card-drp .mat-select-value-text {
//     visibility: hidden !important;
// }
// .card-drp .mat-select-arrow-wrapper {
//     visibility: hidden !important;
// }
.select-icon {
    position: absolute !important;
    right: 0px;
    top: 0px;
}

.card {
    display: block;
    padding: 32px;
    border: 1px solid black;
    border-radius: 8px;
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


/* Column Gap */

.cardList>* {
    box-sizing: border-box;
}

.cardList>*:not(:last-child) {
    margin-right: 32px;
}


/* Item sizing */

.cardListItem {
    flex: 0 1 calc(33.3% - 32px);
}


/* medium size viewport */

@media screen and (max-width: 959px) {
    /* Column Gap */
    .cardList>*:not(:last-child) {
        margin-right: 32px;
    }
    /* Item sizing */
    .cardListItem {
        flex: 0 1 calc(50% - 32px);
    }
}


/* small size viewport */

@media screen and (max-width: 599px) {
    .cardList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .cardList>*:not(:last-child) {
        margin-right: unset;
        margin-bottom: 32px;
    }
}