<div style="width: 33%; float:left">
    <mat-grid-list cols="4">
        <h3 class="center">
            TradeFast
        </h3>
        <mat-grid-tile colspan="2">
            <mat-card class="box" (click)="(DashBoardRights.IsInbox) ? redirectToBlotter('MyTrades'):''" [ngClass]="{'box-card1 accent' :DashBoardRights?.IsInbox
            ,'box-card-disable':!(DashBoardRights?.IsInbox) ,'box-card-My':true}">
                <!-- <div class="box-sidebar" [ngClass]="{'box-card1' :DashBoardRights?.IsInbox
                ,'box-card-disable':!(DashBoardRights?.IsInbox) ,'box-card-My':true}">
                </div> -->
                <!-- <div class="icon">
                    <mat-icon>date_range</mat-icon>
                </div> -->
                <span class="count">{{ DashBoardRights.IsInbox ? DsTradeCount.MyTrades:0 }}</span>
                <span class="details">My Trades</span>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-card class="box" (click)="DashBoardRights.IsOutbox ? redirectToBlotter('TeamTrades'):''" [ngClass]="DashBoardRights.IsOutbox ? 'box-card7': 'box-card-disable'">
                <!-- <div class="box-sidebar" [ngClass]="DashBoardRights.IsOutbox ? 'box-card7': 'box-card-disable'">
                </div> -->
                <!-- <div class="icon">
                    <mat-icon>date_range</mat-icon>
                </div> -->
                <span class="count">   {{ DashBoardRights.IsOutbox ? DsTradeCount.TeamTrades:0 }}</span>
                <span class="details">New RFQ/Team Trades</span>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile colspan="2" *ngIf="!DashBoardRights.IsDealType">
            <mat-card class="box" (click)="DashBoardRights.IsTradeAccepted ? redirectToBlotter('Accepted'):''" [ngClass]="DashBoardRights?.IsTradeAccepted ? 'box-card7': 'box-card-disable'">
                <!-- <div class="box-sidebar" [ngClass]="DashBoardRights.IsTradeAccepted ? 'box-card7': 'box-card-disable'">
                </div> -->
                <!-- <div class="icon">
                    <mat-icon>date_range</mat-icon>
                </div> -->
                <span class="count">  {{ DashBoardRights.IsTradeAccepted ? DsTradeCount.Accepted:0 }}</span>
                <span class="details">Accepted</span>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" *ngIf="!DashBoardRights.IsDealType">
            <mat-card class="box" (click)="DashBoardRights.IsExpireInTwoDays ? redirectToBlotter('ExpIn2'):''" [ngClass]="{'box-card warn' :DashBoardRights?.IsExpireInTwoDays
            ,'box-card-disable':!(DashBoardRights?.IsExpireInTwoDays) ,'box-card-ex':true}">
                <!-- <div class="box-sidebar" [ngClass]="{'box-card' :DashBoardRights?.IsExpireInTwoDays
                ,'box-card-disable':!(DashBoardRights?.IsExpireInTwoDays) ,'box-card-ex':true}">
                </div> -->
                <!-- <div class="icon">
                    <mat-icon>date_range</mat-icon>
                </div> -->
                <span class="count">  {{ DashBoardRights.IsExpireInTwoDays ?
                    DsTradeCount.ExpireInTwoDays:0 }}</span>
                <span class="details">Exp. in 2 Days</span>
            </mat-card>
        </mat-grid-tile>
        <mat-divider vertical class="box-devider-hr"></mat-divider>
    </mat-grid-list>
</div>

<div style="width: 33%; float:left">
    <mat-grid-list cols="4">
        <h3 class="center">
            DealFast
        </h3>
        <mat-grid-tile colspan="2">
            <mat-card class="box" (click)="(DashBoardRights.IsMe) ? redirectToDraft('MyContract'):''" [ngClass]="{'box-card1 accent' :DashBoardRights?.IsMe
            ,'box-card-disable':!(DashBoardRights?.IsMe) ,'box-card-My':true}">
                <!-- <div class="box-sidebar" [ngClass]="{'box-card1' :DashBoardRights?.IsMe
                ,'box-card-disable':!(DashBoardRights?.IsMe) ,'box-card-My':true}">
                </div> -->
                <!-- <div class="icon">
                    <mat-icon>date_range</mat-icon>
                </div> -->
                <span class="count">{{my}}</span>
                <span class="details">My Contracts</span>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-card class="box" (click)="(DashBoardRights.IsMe) ? redirectToDraft('Counterparty'):''" [ngClass]="DashBoardRights.IsCounterParty ? 'box-card1': 'box-card-disable'">
                <!-- <div class="box-sidebar" [ngClass]="DashBoardRights.IsCounterParty ? 'box-card1': 'box-card-disable'">
                </div> -->
                <!-- <div class="icon">
                    <mat-icon>date_range</mat-icon>
                </div> -->
                <span class="count">{{ DashBoardRights?.IsCounterParty ? Counterparty : 0}}</span>
                <span class="details">Counterparty</span>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile colspan="2" *ngIf="!DashBoardRights.IsDealType">
            <mat-card class="box" (click)="(minimumRolesIndex === 1 || minimumRolesIndex === 2 || minimumRolesIndex === 3)? redirectToSigned():''" [ngClass]="DashBoardRights.IsSigned ? 'box-card3': 'box-card-disable'">
                <!-- <div class="box-sidebar" [ngClass]="DashBoardRights.IsSigned ? 'box-card3': 'box-card-disable'">
                </div> -->
                <!-- <div class="icon">
                    <mat-icon>date_range</mat-icon>
                </div> -->
                <span class="count"> {{DashBoardRights?.IsSigned ?
                    signed?signed:0 : 0}}</span>
                <span class="details">Signed</span>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" *ngIf="!DashBoardRights.IsDealType">
            <mat-card class="box" [ngClass]="{'box-card3 warn' :true,'box-card-disable':false ,'box-card-ex':true}">
                <div (click)="(minimumRolesIndex === 1 || minimumRolesIndex === 2 || minimumRolesIndex === 3)? redirectToListing('3m', 'Exp. in 3 Months'):''">
                    <!-- <div class="box-sidebar" [ngClass]="{'box-card3' :true,'box-card-disable':false ,'box-card-ex':true}">
                    </div>
                    <div class="icon">
                        <mat-icon>date_range</mat-icon>
                    </div> -->
                    <span class="count">  {{ ExpireInValue }}</span>
                    <span class="details">Exp. in {{changeExpireInValue.Name}}</span>
                </div>

                <!-- <i class="fa fa-window-restore mt-4 fa-position-right-top"
                        tooltip="Maximize" style="font-size: 12px;"></i> -->
                <!-- <mat-icon>open_in_new</mat-icon> -->
                <!-- <span> </span> -->
                <mat-select #mySelect class="card-drp" (selectionChange)="changeExpireIn($event)">
                    <mat-select-trigger>
                        <mat-icon>open_in_new</mat-icon>
                    </mat-select-trigger>
                    <mat-option *ngFor="let ET of ExpireType" [value]="ET.ID">
                        {{ ET.Name }}
                    </mat-option>

                </mat-select>
            </mat-card>
        </mat-grid-tile>

        <mat-divider vertical class="box-devider-hr"></mat-divider>
    </mat-grid-list>
</div>

<div style="width: 33%; float:left">
    <mat-grid-list cols="4">
        <h3 class="center">
            TapFast
        </h3>
        <mat-grid-tile colspan="2" routerLinkActive="router-link-active" *ngFor="let tap of TapData;let irow=index">
            <mat-card class="box" (click)="DashBoardRights?.IsTapFast ? redirectToPage(tap.ID): ''" [ngClass]="{'box-card1' :DashBoardRights?.IsTapFast
            ,'box-card-disable':!(DashBoardRights?.IsTapFast) ,'box-card-My accent':irow==0}">
                <div class="box-sidebar">
                </div>
                <!-- <div class="icon">
                    <mat-icon>date_range</mat-icon>
                </div> -->
                <span class="count">{{tap.Count }}</span>
                <span class="details">{{tap.Property }}</span>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</div>

<div class="DealoverView">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-10" style="overflow-x: auto;">
            <div class="box-bd-sec">
                <div class="row">
                    <div class="col-xl-1 col-lg-1">
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <div class="box-bd-sec">
                            <div class="row custome-btn">
                                <app-deal-over-view [NoOfItems]="5" [innerWidth]="innerWidth" (openMoelEvent)="openLocalModal($event)" [modalRef]="modalRef" [dealOverData]="dealOverData" *ngIf="resp">
                                </app-deal-over-view>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-1 col-lg-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #DealOverviewDeails>
    <mat-dialog-content class="mat-typography">
        <div class="period-section-inner">
            <div class="modal-body">
                <app-deal-over-view [innerWidth]="innerWidth" (openMoelEvent)="openLocalModal($event)" [modalRef]="modalRef" [dealOverData]="dealOverData" *ngIf="resp">
                </app-deal-over-view>
            </div>
        </div>
    </mat-dialog-content>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close color="primary">Close</button>
    </div>
</ng-template>